@model IEnumerable<ASP2184587.Models.compra>

@{
    ViewBag.Title = "Index";
}


<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <p><strong>Lista Compras</strong></p>
            </div>
            <div class="card-body">
                <table class=" table-bordered table-hover responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Nombre Del Cliente</th>
                            <th>Nombre Del Usuario</th>
                            <th></th>
                        </tr>
                    </thead>




                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cliente.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usuario.nombre)
                            </td>
                            <td>

                                <a class="btn btn-warning" href="/compras/Edit/@item.id">Edit <span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-info" href="/compras/Details/@item.id">Details <span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="btn btn-danger" href="/compras/Delete/@item.id">Delete <span class="glyphicon glyphicon-trash"></span></a>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <thead>
                    <tr>
                        <p><strong>Crear Compra</strong></p>

                    </tr>
                </thead>
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:50%">
                    <thead>
                   

                            <p>
                                <a class="btn btn-success" href="/compras/Create">Crear Proveedor <span class="glyphicon glyphicon-folder-open"></span></a>
                            </p>
                
                    </thead>

                </table>
            </div>
        </div>

    </div>


</div>



