@model IEnumerable<ASP2184587.Models.usuario>

@{ ViewBag.Title = "Index"; }






    <div class="card">
        <div class="card-header">
            <center><p><strong>Lista Usuarios</strong></p></center>
        </div>
        <div class="card-body">
            <table class="table-bordered table-hover responsive nowrap " id="myTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th></th>
                    </tr>
                </thead>




                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>


                            <a class="btn btn-warning" href="/Usuario/Edit/@item.id">Edit <span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-info" href="/Usuario/Details/@item.id">Details <span class="glyphicon glyphicon-eye-open"></span></a>
                            <a class="btn btn-danger" href="/Usuario/Delete/@item.id">Delete <span class="glyphicon glyphicon-trash"></span></a>

                            @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })



                        </td>
                    </tr>

                }

            </table>
        </div>
    </div>



@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}



       

