@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>


<p>Mi Proyecto -u- .</p>

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Estas seguro de Eliminar?
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>






                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Lista de Usuarios
            






            </div>
        </div>
    </div>
</div>

<li> <a href="index.html">  <h1 class="titulo">Reporte</h1> </a> </li>