@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>



<div class="col-md-4">

    <h3>CONTACTO</h3>
    
    <br />

    <img src="https://spoilertime.com/wp-content/uploads/2016/08/giphy-7-1.gif " alt="Profile Image" class="img-circle profile_img">
    <p>
        Proyecto hecho por el aprendiz Diego Alonso
    </p>
</div>

