@{
    ViewBag.Title = "Home Page";
}


<center><h1> ♥ BIENVENIDOS ♥</h1></center>


<body>
    <center>
        <div class="dropdown-item">
            <div class="profile_pic">

                <img src="~/Content/images/miu.gif " alt="Profile Image" class="img-circle profile_img">
                <br />
                <br />
                <br />
                <p>
                    Proyecto  ASP NET MVC
                </p>
            </div>

            <br /> <br />
            <div class="profile_pic">

                <img src="https://i.pinimg.com/originals/13/c7/10/13c710ba2d811a0e7446231a7391e265.gif " alt="Profile Image" class="img-circle profile_img">
                <br />
                <br />
                <br />
                <p>

                </p>
            </div>
            <div class="profile_info">
            </div>
                     
        </div>
    </center>
</body>


    


