@model IEnumerable<ASP2184587.Models.proveedor>

@{
    ViewBag.Title = "Index";
}



        <div class="card">
            <div class="card-header">
                <center><p><strong>Lista Proveedores</strong></p></center>
            </div>
            <div class="table-responsive">
                <table class="  table-bordered table-hover responsive nowrap" id="myTable" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Nombre de Contacto</th>
                        </tr>
                    </thead>




                    @foreach (var item in Model)
                    {
                        <tr>
                     
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre_contacto)
                        </td>
                        <td>
                        </td>
                        <td>

                            <a class="btn btn-warning" href="/proveedors/Edit/@item.id">Edit <span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-info" href="/proveedors/Details/@item.id">Details <span class="glyphicon glyphicon-eye-open"></span></a>
                            <a class="btn btn-danger" href="/proveedors/Delete/@item.id">Delete <span class="glyphicon glyphicon-trash"></span></a>



                        </td>
                        </tr>
                    }



                </table>
            </div>
        </div>



@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}


        






