@{
    ViewBag.Title = "uploadCSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Cargar archivo CSV
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>

                        @using (Html.BeginForm("uploadCSV", "proveedors", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input   type="file" name="fileForm" />

                            
                            <input class="btn btn-danger" type="submit" value="Enviar" />
                        }

                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary" href="/proveedors/Index">Volver a la lista <span class="glyphicon glyphicon-hand-left"></span></a>
    
</div>