@model ASP2184587.Models.producto_compra

@{
    ViewBag.Title = "Delete";
}



<h3>Estas seguro de eliminar?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            compra id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compra.id)
        </dd>

        <dt>
            producto nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input class="btn btn-danger" type="submit" value="Eliminar" />
    <a class="btn btn-success" href="/producto_compra/Index">Volver a la lista <span class="glyphicon glyphicon-hand-left"></span></a>
</div>
    }
</div>
