@model IEnumerable<ASP2184587.Models.producto_compra>

@{
    ViewBag.Title = "Index";
}




        <div class="card">
            <div class="card-header">
                <p><strong> Lista de Producto Compras</strong></p>
               
            </div>
            <div class="card-body">
                <table class="table-bordered table-hover responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>cantidad</th>
                            <th>compra</th>
                            <th> producto nombre</th>
                           
                        </tr>
                    </thead>




                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.compra.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.producto.nombre)
                            </td>
                           
                           
                            <td>

                                <a class="btn btn-warning" href="/producto_compra/Edit/@item.id">Edit <span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-info" href="/producto_compra/Details/@item.id">Details <span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="btn btn-danger" href="/producto_compra/Delete/@item.id">Delete <span class="glyphicon glyphicon-trash"></span></a>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>



@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}


        <div class="card">
            <div class="card-header">
                <thead>
                    <tr>
                        <p><strong>Crear Producto Compras</strong></p>

                    </tr>
                </thead>
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:50%">
                    <thead>
                        <tr>

                            <p>
                                <a class="btn btn-success" href="/producto_compra/Create">Crear  Producto Compras <span class="glyphicon glyphicon-folder-open"></span></a>
                            </p>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>






