@model IEnumerable<ASP2184587.Models.producto_compra>

@{
    ViewBag.Title = "Index";
}




        <div class="card">
            <div class="card-header">
                <center> <p><strong> Lista de Producto Compras</strong></p></center>

            </div>
            <div class="card-body">
                <table class="table-bordered table-hover responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>cantidad</th>
                            <th>compra</th>
                            <th> producto nombre</th>
                           
                        </tr>
                    </thead>




                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.compra.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.producto.nombre)
                            </td>
                           
                           
                            <td>

                                <a class="btn btn-warning" href="/producto_compra/Edit/@item.id">Edit <span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-info" href="/producto_compra/Details/@item.id">Details <span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="btn btn-danger" href="/producto_compra/Delete/@item.id">Delete <span class="glyphicon glyphicon-trash"></span></a>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>



@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}


        





